<%= form_for @request, remote: true do |f| %>
  <div class="input-field col s6">
    <%= f.label :title %>
    <%= f.text_field :title, readonly: true , class: "form-control" %>
  </div>
  <div class="input-field col s6">
    <%= f.label :description %>
    <%= f.text_field :description, readonly: true, class: "form-control" %>
  </div>

  <div class="input-field col s6 disabled">
    <%= f.label t "request.table.request_type" %>
    <%= f.collection_select :request_type_id, @request_types, :id, :name, {},
      {class: "form-control", disabled: "disabled"} %>
  </div>

  <div class="input-field col s6">
    <%= f.label t "request.table.request_status" %>
    <%= f.collection_select :request_status_id, @request_statuses, :id, :name,
      {}, {class: "form-control", disabled: "disabled"} %>
  </div>

  <div class="input-field col s6">
    <%= f.label t "request.table.assignee" %>
    <%= f.collection_select :assignee_id, @staffs, :id, :name, {},
      {class: "form-control", disabled: "disabled"} %>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">
      <%= t "action.close" %>
    </button>
  </div>
<% end %>
